uv
ruff
requests
marimo[mcp]
ibm-watsonx-ai
ibm-code-engine-sdk
wigglystuff
jsonpath-python
cloud-pak-operations-cli
ibm-secrets-manager-sdk
python-dotenv
transformers
pydantic-ai
jinja2
mohtml
moterm
click